.profileContainer {
  padding: 10px 30px 10px 0px;
  width: 82%;
  margin-left: 340px;
}

.productSheduleContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
}

@media screen and (max-width: 960px) {
  .productSheduleContainer {
    grid-template-columns: 100%;
    gap: 0rem;
  }

  .profileContainer {
    width: 100%;
    margin-left: 0px;
    padding: 20px;
  }
}
