.productTitle {
  width: 100%;
  padding: 0 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 20px;
}

.productTitle .title {
  color: #000;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 700;
  position: relative;
}

.productTitle .month {
  color: #858585;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  position: relative;
}

.piechartContainer canvas {
  position: relative;
  top: -30px;
}

@media screen and (max-width: 960px) {
  .productTitle {
    padding: 0 15px;
    justify-content: space-between;
    top: 20px;
  }

  .productTitle .title {
    font-size: 16px;
  }

  .productTitle .month {
    font-size: 12px;
  }

  .piechartContainer canvas {
    position: relative;
    top: -50px;
    transform: scale(0.8);
  }
}

@media screen and (max-width: 1280px) and (min-width: 961px) {
  .productTitle {
    padding: 0 20px;
  }

  .piechartContainer canvas {
    transform: scale(0.96);
  }
}
