.scheduleContainer {
  display: flex;
}

.scheduleLine {
  width: 5px;
  height: 75%;
  margin-top: 5px;
}

.scheduleItem {
  margin-bottom: 20px;
  margin-left: 15px;
}

.scheduleItem h3 {
  color: #666;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  margin-top: 5px;
}

.scheduleItem p {
  color: #999;
  font-family: Lato;
  font-size: 14px;
  margin-top: 10px;
}

@media screen and (max-width: 960px) {
  .scheduleLine {
    margin-top: 8px;
    height: 70%;
  }

  .scheduleItem h3 {
    font-size: 14px;
    margin-top: 10px;
  }

  .scheduleItem p {
    font-size: 12px;
    margin-top: 5px;
  }
}
