.scheduleTitle {
  width: 100%;
  padding: 0 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 40px;
}

.scheduleTitle .title {
  color: #000;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 700;
  position: relative;
}

.scheduleTitle .month {
  color: #858585;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  position: relative;
}

.scheduleItems {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  margin-top: 70px;
}

@media screen and (max-width: 960px) {
  .scheduleItems {
    padding: 0 25px;
  }

  .scheduleTitle {
    padding: 0 15px;
    top: 20px;
  }

  .scheduleTitle .title {
    font-size: 16px;
  }

  .scheduleTitle .month {
    font-size: 12px;
  }

  .scheduleItems {
    margin-top: 30px;
  }
}

@media screen and (max-width: 1280px) and (min-width: 961px) {
  .scheduleTitle {
    top: 20px;
    padding: 0 20px;
  }
}
