.loginButton {
  font-family: Montserrat;
  border: none;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1.56rem;
}

.loginButton:hover {
  cursor: pointer;
}

.googleButton {
  animation: blinkButton 5s infinite;
}

@media screen and (max-width: 960px) {
  .loginButton {
    margin-right: 0px;
  }
}

@keyframes blinkButton {
  0% {
    box-shadow: 2px 2px 8px 2px #ff0000;
  }
  50% {
    box-shadow: 0.2px 0.2px 1px 0.2px #ff0000;
  }
  100% {
    box-shadow: 2px 2px 8px 2px #ff0000;
  }
}
