.cardContainer {
  border-radius: 20px;
  width: 245px;
  height: 110px;
}

.cardIcon {
  position: relative;
  top: 15%;
  left: 75%;
}

.cardDetails {
  position: relative;
  top: 15%;
  left: 10%;
}

.cardDetails h2 {
  color: #000;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.cardDetails p {
  color: #000;
  font-family: Open Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@media screen and (max-width: 960px) {
  .cardContainer {
    width: 100%;
    height: 90px;
  }

  .cardIcon {
    width: 10%;
    top: 15%;
    left: 78%;
  }

  .cardDetails h2 {
    font-size: 12px;
  }

  .cardDetails p {
    font-size: 20px;
  }

  .cardDetails {
    left: 10%;
  }
}

@media screen and (max-width: 960px) and (min-width: 550px) {
  .cardContainer {
    height: 110px;
  }
}

@media screen and (max-width: 1280px) and (min-width: 961px) {
  .cardContainer {
    width: 234px;
  }
}
